<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title layout:title-pattern="$CONTENT_TITLE -$LAYOUT_TITLE">Parfum</title>
</head>

    <nav class="navbar navbar-expend-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="home.html">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-bs-target="#navbar"></button>
        </div>
    </nav>
<body layout:fragment="body"></body>
</html>